<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<style type="text/css">
		body {
			font-family: 'Helvetica Neue', Helvetica, Arial;
			font-size: 11px;
			font-weight: 400;
			color: #3b3b3b;
			background: #ffffff;
		}

		/*Para encabezados*/
		.header-page{
			display: block;
			position: relative;
			margin: auto;
			width: 100%;
		}

		.title-header{
			font-size: 12px;
			font-weight: 600;
		}

		.footer-page{
			font-size: 11px;
		}

		.logo{
			display: block;
			width: 100%;
			background-image: url(https://biblioteca.utec.edu.sv/entorno/public/site/images/logo_utec.png);
		}

		/*Para pies de pagina*/

		.footer-page{
			display: block;
			position: relative;
			margin: auto;
			width: 100%;
		}

		.page-block-1{
			display: block;
			position: relative;
			margin: auto;
			width: 100%;
		}

		.page-block-2{
			display: inline-block;
			position: relative;
			margin: auto;
			width: 49%;
		}

		.element-full{
			display: block;
			width: 100%;
		}

		.content-right{
			text-align: right;
		}

		.content-left{
			text-align: left;
		}

		.content-center{
			text-align: center;
		}

		.content-justify{
			text-align:  justify;
		}

		.table{
			margin: 0 auto;
			width: 100%;
			display: table;
		}

		.row-header{			
			font-weight: 900;
			color: #ffffff;
			background: #940F1C;
			display: table-row;
		}

		.row{
			display: table-row;
			background: #f6f6f6;
		}

		.row:nth-child(2n){
			background: #e9e9e9;
		}

		.cell{
			padding: 6px 12px;
			display: table-cell;
		}
	</style>
</head>
<body>
<% if ((filas.length-1)>0){%>
	<%- include('encabezado',{titulo_reporte: titulo_reporte}); %>
	<%- include('pieDePagina',{datos: datos, moment:moment}); %>
	<div class="wrapper">
		<div class="table">
				<div class="row-header">
					<div class="cell">
						N°
					</div>
					<div class="cell">
						Carnet
					</div>
					<div class="cell">
						Apellidos
					</div>
					<div class="cell">
						Nombres
					</div>
					<div class="cell">
						CUM
					</div>
					<div class="cell">
						Rubro
					</div>
				</div>
				<%for (var i = 0; i < (filas.length-1); i++) {%>
                    <div class="row">
						<div class="cell">
							<%- (i+1) %>
						</div>
						<div class="cell">
							<%- filas[i].Carnet %>
						</div>
						<div class="cell">
							<%- filas[i].Apellido %>
						</div>
						<div class="cell">
							<%- filas[i].Nombre %>
						</div>
						<div class="cell">
							<%- filas[i].CUM %>
						</div>
						<div class="cell">
							<%- filas[i].Nombre_Rubro %>
						</div>
					</div>
                <%}%> 
		  </div>
	</div>
<%}%>
</body>